.error-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-page-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-page-button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
